/* 
  En del CSS vil være spesialtilpasset
  til akkurat det ene HTML element, i
  det ene prosjektet. CSS som jeg
  ikke anser som gjenbrukbar har jeg
  puttet inne i denne filen her.

  Gode eksempler på hva som bør inn
  her vil være ting som bakgrunns bilder,
  ikke standard padding / marginer
*/
.navbar {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  padding-left: 20px;
  padding-right: 20px;
}

.background-info {
  background-image: url("./assets/code-brackets.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
