/* 
  Ofte så har vi et sett med
  CSS vi bruker i flere forskjellige
  settinger. For å gjøre dette enklere
  å bruke, og enklere å vedlikeholde,
  så har jeg laget et sett med
  "utility" klasser (CSS klasser som
  kun består av en eller et par
  CSS properties).
*/

/*
  De forksjellige Flexbox klassene
  er noe som går veldig mye igjen
  for å justere på hvordan elementer
  blir plassert.
*/
.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/* 
  Å sette maksimums bredde på
  elementer (eller kontainere) med
  tekst innhold sørger for at
  vi ikke får 2km lange linjer.
  Det gjør det endel lettere
  å lese ;-)

  Her er den delt opp i større
  og mindre seksjoner så vi har
  litt å velge i mellom.
*/
.max-w-sm {
  max-width: 350px;
}

.max-w-lg {
  max-width: 500px;
}

.max-w-xl {
  max-width: 600px;
}

/*
  Litt forksjellige klasser
  for ting som er greit å ha
  lett tilgjengelig, men som
  ikke helt passer i de andre
  kategoriene
*/

/*
  min-height: 100vh; er nyttig for
  hele applikasjonen vår for at den
  skal bruke minst hele skjermen.

  Den kan og være nyttig viss på
  elementer som en hero seksjon,
  eller andre seksjoner som vi
  ønsker skal breie seg over hele
  skjermen,
*/
.min-h-screen {
  min-height: 100vh;
}
